@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
}

a:link, a:visited {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.container {
    margin: auto;
    width: 1080px;
}

.ico {
    background-image: url("../imgs/img_kabang_210628.png");
}