@charset "UTF-8";

@font-face {
    font-family: 'yoon-reqular';
    src: url('../fonts/YoonGothicPro720.woff');
}
@font-face {
    font-family: 'yoon-bold';
    src: url('../fonts/YoonGothicPro750.woff');
}

* {
    --title-color: #111;
}

/* Header Start */
#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-inner {
    font-family: 'yoon-bold';
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu > li {
    margin: 0 0.5rem;
    padding: 0 1rem;
    font-size: 14.5px;
}

.menu > li:hover {
    /* todo: 보더 딱 안쪽으로 들어오게 */
    border-bottom: 2px solid #222;
}

#apply-btn {
    border: none;
}

#apply-btn > a {
    padding: 0.8rem 1.2rem;
    border: 1px solid #ffde22;
    border-radius: 25px;
    background-color: #fede22;
}

#apply-btn > a:hover {
    text-decoration: none;
}
/* Header End */


/* Visual Start */
#visual {
    margin: 80px 0 150px 0;
    width: 100%;
    height: 720px;
    background-color: #ffef6b;
}

.visual-inner {
    font-family: 'yoon-reqular';
    width: 100%;
    height: 884px;
    background: url("../imgs/main-bg3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.visual-inner > .container {
    padding: 170px 0 0 30px;
}

.visual-text > h1 {
    font-family: 'yoon-bold';
    font-size: 48px;
    line-height: 70px;
}

.visual-text > p {
    margin: 20px 0;
    line-height: 1.8rem;
    color: #444;
}

.visual-text > a {
    font-family: 'yoon-bold';
    font-weight: bold;
    text-decoration: underline;
}

.visual-store {
    margin-top: 3.2rem;
}

.visual-store > button {
    margin-right: 5px;
    width: 180px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 12px;
    background-color: #fff;
    font-family: 'yoon-bold';
    font-weight: bold;
    font-size: 16px;
}

.visual-store .ico {
    margin-right: 10px;
    padding: 10px 22px 0 0;
}

.google-play {
    background-position: -341px -285px;
}

.app-store {
    background-position: -372px -285px;
}
/* Visual End */


/* Content Start */
.content-section {
    padding: 50px 0;
    border-bottom: 30px solid #fafafa;
}

.content-inner {
    display: flex;
    justify-content: space-between;
    font-family: 'yoon-reqular';
}

.content-inner > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img {
    width: auto;
    height: 700px;
}

.content-img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.content-title > h2 {
    font-family: 'yoon-bold';
    font-size: 40px;
    color: var(--title-color);
}

.content-title > p {
    margin: 30px 0;
    line-height: 1.6rem;
    color: #444;
}

.content-btn {
    margin-left: 2px;
    padding: 1rem 2.5rem;
    border: 1px solid #f6f6f6;
    border-radius: 12px;
    background-color: #f6f6f6;
    font-size: 16px;
}

.content-btn > .arrow-ico {
    padding-left: 2px;
    height: 9px;
    object-fit: cover;
    position: relative;
    top: -1px;
}
/* Content End */


/* Content 2 Start */
#content2 .content-title {
    margin-right: -120px;
}

#content2 .content-img {
    margin-right: -80px;
}

#save-banner {
    margin-top: 50px;
    width: 440px;
}

#save-banner > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Content 2 End */


/* Content 3 Start */
#content3 .content-img {
    height: 600px;
}

#moin-btn {
    padding: 1rem 5.5rem;
}
/* Content 3 End */


/* Content 4 Start */
#content4 {
    padding: 120px 0;
}

#content4 .content-img {
    height: 400px;
}

#week-btn {
    padding: 1rem 5.5rem;
}
/* Content 4 End */


/* Content 5 Start */
#content5 {
    border: none;
    background: url("../imgs/home_map.png");
    background-position: -120px;
    background-repeat: no-repeat;
}

#foreign-btn {
    padding: 1rem 5.5rem;
}
/* Content 5 End */


/* Time Section Start */
#time-section {
    padding-top: 160px;
    background-color: #569cdb;
    font-family: 'yoon-reqular';
}

.time-section-inner {
}

.time-section-inner > div {
    display: flex;
    justify-content: center;
}

.time-title {
    text-align: center;
}

.time-title > h2 {
    color: #fff;
    font-family: 'yoon-bold';
    font-size: 40px;
}

.time-title > p {
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.6rem;
    color: #fff;
    opacity: 0.6;
}

.time-btn {
    margin: 1px;
    padding: 1rem 0.8rem;
    border: none;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.1);
    font-size: 16px;
}

.time-btn > a {
    color: #fff;
}

.time-btn > .arrow-ico {
    padding-left: 2px;
    height: 9px;
    object-fit: cover;
    position: relative;
    top: -1px;
}

#sinyong-btn {
    padding: 1rem 2.8rem;
}

.time-img {
    margin-top: 35px;
    width: auto;
    height: 550px;
}

.time-img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
}
/* Time Section End */


/* Checkcard Section Start */
#checkcard-section {
    padding: 160px 0;
    font-family: 'yoon-reqular';
}

.checkcard-section-inner > div {
    display: flex;
    justify-content: center;
}

.checkcard-title {
    text-align: center;
}

.checkcard-title > h2 {
    font-family: 'yoon-bold';
    font-size: 40px;
    color: var(--title-color);
}

.checkcard-title > p {
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.6rem;
    color: #555;
}

.checkcard-btn {
    margin: 1px;
    padding: 1rem 1.3rem;
    border: 1px solid #f6f6f6;
    border-radius: 12px;
    background-color: #f6f6f6;
    font-size: 16px;
}

.checkcard-btn > .arrow-ico {
    padding-left: 2px;
    height: 9px;
    object-fit: cover;
    position: relative;
    top: -1px;
}

#checkcard-img-box {
    margin-top: 80px;
}
/* Checkcard Section End */


/* Tech Section Start */
#tech-section {
    padding: 160px 0;
    font-family: 'yoon-reqular';
    background-color: #f9f9f9;
}

.tech-section-inner {
    position: relative;
    z-index: 2;
}

.tech-section-inner > div {
    display: flex;
    justify-content: center;
}

.tech-title {
    margin-bottom: 140px;
    text-align: center;
}

.tech-title > h2 {
    font-family: 'yoon-bold';
    font-size: 40px;
    color: var(--title-color);
}

.tech-title > #tech-underline {
    margin: 50px auto 0 auto;
    width: 100px;
    height: 2px;
    background-color: #000;
}

.tech-img {
    width: 1020px;
    height: auto;
}

.tech-img > img {
    width: 100%;
    object-fit: cover;
}

.tech-text-box {
    display: flex;
    justify-content: space-between;
}

.tech-text-box > div {
    margin-top: 50px;
    width: 50%;
}

.tech-text-left > div, .tech-text-right  > div {
    width: 50%;
}

.tech-text-left {
    display: flex;
}

.tech-text-right {
    display: flex;
    justify-content: right;
}

.tech-text {
    text-align: center;
}

.tech-text > h3 {
    font-family: 'yoon-bold';
}

.tech-text > p {
    margin-top: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #777;
}

#tech-middleline {
    width: 100%;
    height: 1px;
    background-color: #eee;
    position: relative;
    top: -275px;
    z-index: 1;
}
/* Tech Section End */


/* Footer Start */
#footer {
    width: 100%;
    background-color: #eee;
    font-family: 'yoon-reqular';
    font-size: 13px;
}

.footer-inner {

}
/* Footer End */