@charset "UTF-8";

@font-face {
    font-family: 'yoon-reqular';
    src: url('../fonts/YoonGothicPro720.woff');
}
@font-face {
    font-family: 'yoon-bold';
    src: url('../fonts/YoonGothicPro750.woff');
}

* {
    --title-color: #111;
}

/* Header Start */
#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-inner {
    font-family: 'yoon-bold';
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu > li {
    margin: 0 0.5rem;
    padding: 0 1rem;
    font-size: 14.5px;
}

.menu > li:hover {
    /* todo: 보더 딱 안쪽으로 들어오게 */
    border-bottom: 2px solid #222;
}

#apply-btn {
    border: none;
}

#apply-btn > a {
    padding: 0.8rem 1.2rem;
    border: 1px solid #ffde22;
    border-radius: 25px;
    background-color: #fede22;
}

#apply-btn > a:hover {
    text-decoration: none;
}
/* Header End */


/* Visual Start */
#visual {
    margin: 80px 0 150px 0;
    width: 100%;
    height: 720px;
    background-color: #ffef6b;
}

.visual-inner {
    font-family: 'yoon-reqular';
    width: 100%;
    height: 884px;
    background: url("../imgs/main-bg3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.visual-inner > .container {
    padding: 170px 0 0 30px;
}

.visual-text > h1 {
    font-family: 'yoon-bold';
    font-size: 48px;
    line-height: 70px;
}

.visual-text > p {
    margin: 20px 0;
    line-height: 1.8rem;
    color: #444;
}

.visual-text > a {
    font-family: 'yoon-bold';
    font-weight: bold;
    text-decoration: underline;
}

.visual-store {
    margin-top: 3.2rem;
}

.visual-store > button {
    margin-right: 5px;
    width: 180px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 12px;
    background-color: #fff;
    font-family: 'yoon-bold';
    font-weight: bold;
    font-size: 16px;
}

.visual-store .ico {
    margin-right: 10px;
    padding: 10px 22px 0 0;
}

.google-play {
    background-position: -341px -285px;
}

.app-store {
    background-position: -372px -285px;
}
/* Visual End */


/* Content Start */
.content-section {
    padding: 50px 0;
    border-bottom: 30px solid #fafafa;
}

.content-inner {
    display: flex;
    justify-content: space-between;
    font-family: 'yoon-reqular';
}

.content-inner > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img {
    width: auto;
    height: 700px;
}

.content-img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.content-title > h2 {
    font-family: 'yoon-bold';
    font-size: 40px;
    color: var(--title-color);
}

.content-title > p {
    margin: 30px 0;
    line-height: 1.6rem;
    color: #444;
}

.content-btn {
    margin-left: 2px;
    padding: 1rem 2.5rem;
    border: 1px solid #f6f6f6;
    border-radius: 12px;
    background-color: #f6f6f6;
    font-size: 16px;
}

.content-btn > .arrow-ico {
    padding-left: 2px;
    height: 9px;
    object-fit: cover;
    position: relative;
    top: -1px;
}
/* Content End */


/* Content 2 Start */
#content2 .content-title {
    margin-right: -120px;
}

#content2 .content-img {
    margin-right: -80px;
}

#save-banner {
    margin-top: 50px;
    width: 440px;
}

#save-banner > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#save-img-box {
    width: 396px;
    position: relative;
    overflow: hidden;
}

#save-img {
    position: absolute;
    top: 0;
    left: 14%;
    opacity: 0;
}
/* Content 2 End */


/* Content 3 Start */
#content3 .content-img {
    height: 600px;
}

#moin-btn {
    padding: 1rem 5.5rem;
}
/* Content 3 End */


/* Content 4 Start */
#content4 {
    padding: 120px 0;
}

#content4 .content-img {
    height: 400px;
}

#week-btn {
    padding: 1rem 5.5rem;
}
/* Content 4 End */


/* Content 5 Start */
#content5 {
    border: none;
    background: url("../imgs/home_map.png");
    background-position: -120px;
    background-repeat: no-repeat;
}

#foreign-img-box {
    width: 399px;
    position: relative;
    overflow: hidden;
}

#foreign-img {
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 0;
}

#foreign-btn {
    padding: 1rem 5.5rem;
}
/* Content 5 End */


/* Time Section Start */
#time-section {
    background-color: #569cdb;
    font-family: 'yoon-reqular';
    height: 936px;
    position: relative;
    overflow: hidden;
}

.time-section-inner {
    padding-top: 160px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.time-section-inner > .container {
    position: relative;
}

.time-section-inner > .container > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.time-title {
    text-align: center;
}

.time-title > h2 {
    color: #fff;
    font-family: 'yoon-bold';
    font-size: 40px;
}

.time-title > p {
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.6rem;
    color: #fff;
    opacity: 0.6;
}

.time-btn {
    margin: 1px;
    padding: 1rem 0.8rem;
    border: none;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.1);
    font-size: 16px;
}

.time-btn > a {
    color: #fff;
}

.time-btn > .arrow-ico {
    padding-left: 2px;
    height: 9px;
    object-fit: cover;
    position: relative;
    top: -1px;
}

#sinyong-btn {
    padding: 1rem 2.8rem;
}

.time-img {
    margin-top: 35px;
    width: auto;
    height: 550px;
}

.time-img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

#night {
    width: 100%;
    height: 100%;
    background-color: #333b58;
    position: absolute;
    top: 100%;
    left: 0;
}

#moon-box {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50px;
    right: -20px;
    overflow: hidden;
}

#moon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #ffdc00;
    position: relative;
}

#moon-cover {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #333b58;
    position: absolute;
    top: -100%;
    left: -100%;
    opacity: 0;
}

.star {
    padding: 2px;
    height: 0;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    opacity: 0;
}

#star1 {
    width: 0;
    top: 90px;
    left: 20%;
}
#star2 {
    width: 0;
    top: 250px;
    left: 15%;
}
#star3 {
    width: 0;
    top: 300px;
    left: 10%;
}
#star4 {
    width: 0;
    top: 625px;
    left: 23%;
}
#star5 {
    width: 0;
    top: 380px;
    right: 15%;
}
#star6 {
    width: 0;
    top: 410px;
    right: 30%;
}
#star7 {
    width: 0;
    top: 710px;
    right: 26%;
}
/* Time Section End */


/* Checkcard Section Start */
#checkcard-section {
    padding: 160px 0;
    font-family: 'yoon-reqular';
}

.checkcard-section-inner {
}

.checkcard-section-inner > div {
    display: flex;
    justify-content: center;
}

.checkcard-title {
    text-align: center;
}

.checkcard-title > h2 {
    font-family: 'yoon-bold';
    font-size: 40px;
    color: var(--title-color);
}

.checkcard-title > p {
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.6rem;
    color: #555;
}

.checkcard-btn {
    margin: 1px;
    padding: 1rem 1.3rem;
    border: 1px solid #f6f6f6;
    border-radius: 12px;
    background-color: #f6f6f6;
    font-size: 16px;
}

.checkcard-btn > .arrow-ico {
    padding-left: 2px;
    height: 9px;
    object-fit: cover;
    position: relative;
    top: -1px;
}

#checkcard-img-box {
    margin-top: 80px;
    position: relative;
    display: flex;
}

#checkcard-slider {
    padding-right: 100px;
    width: 660px;
    height: 440px;
    position: relative;
    left: 4.5%;
    overflow: hidden;

    border: 1px solid;
}

.checkcard-img:nth-child(1) {
    width: 240px;
    position: absolute;
    top: 7%;
    left: 0;
}
.checkcard-img:nth-child(2) {
    width: 280px;
    position: absolute;
    top: 0;
    left: 22%;
    z-index: 3;
}
.checkcard-img:nth-child(3) {
    width: 240px;
    position: absolute;
    top: 7%;
    left: 50%;
}

.checkcard-img > img {
    width: 100%;
    object-fit: cover;
}

.checkcard-control {
    padding: 0 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 39%;
    left: 0;
}

.checkcard-control .ico {
    width: 40px;
    height: 70px;
    background-image: url('../imgs/img_kabang_210628.png');
}

.checkcard-control .left {
    background-position: -325px 5px;
    transform: scale(1.1) rotateY(180deg);
}

.checkcard-control .right {
    background-position: -325px 5px;
    transform: scale(1.1);
}
/* Checkcard Section End */


/* Tech Section Start */
#tech-section {
    padding: 160px 0;
    font-family: 'yoon-reqular';
    background-color: #f9f9f9;
}

.tech-section-inner {
    position: relative;
    z-index: 2;
}

.tech-section-inner > div {
    display: flex;
    justify-content: center;
}

.tech-title {
    margin-bottom: 140px;
    text-align: center;
}

.tech-title > h2 {
    font-family: 'yoon-bold';
    font-size: 40px;
    color: var(--title-color);
}

.tech-title > #tech-underline {
    margin: 50px auto 0 auto;
    width: 100px;
    height: 2px;
    background-color: #000;
}

.tech-img {
    width: 1020px;
    height: auto;
}

.tech-img > img {
    width: 100%;
    object-fit: cover;
}

.tech-text-box {
    display: flex;
    justify-content: space-between;
}

.tech-text-box > div {
    margin-top: 50px;
    width: 50%;
}

.tech-text-left > div, .tech-text-right  > div {
    width: 50%;
}

.tech-text-left {
    display: flex;
}

.tech-text-right {
    display: flex;
    justify-content: right;
}

.tech-text {
    text-align: center;
}

.tech-text > h3 {
    font-family: 'yoon-bold';
}

.tech-text > p {
    margin-top: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #777;
}

#tech-middleline {
    width: 100%;
    height: 1px;
    background-color: #eee;
    position: relative;
    top: -325px;
    z-index: 1;
}
/* Tech Section End */


/* Footer Start */
#footer {
    width: 100%;
    background-color: #eee;
    font-family: 'yoon-reqular';
}

.footer-inner {
    padding: 1.5rem 0;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
}

.footer-menu-item {
    line-height: 25px;
}

.footer-menu-item > a {
    font-size: 12px;
    color: #444;
}

.footer-menu-item b {
    font-family: 'yoon-bold';
    color: #000;
}

.footer-menu-item > span {
    padding: 0 1rem;
    font-size: 11px;
    color: #ccc;
}

.footer-info {
    margin: 1rem 0;
    font-size: 13px;
    line-height: 25px;
    color: #888;
}

.footer-info > span {
    font-family: 'yoon-bold';
    color: #000;
}

.footer-info > b {
    font-size: 11px;
    font-family: 'yoon-bold';
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom > div {
    display: flex;
}

.footer-webacc {
    align-items: center;
}

.footer-webacc-img {
    width: auto;
    height: 32px;
}

.footer-webacc-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-webacc > span {
    margin-left: 10px;
    font-size: 13px;
    font-family: 'yoon-bold';
    font-weight: bold;
    color: #666;
}

.footer-icons .ico {
    width: 28px;
    height: 28px;
    background-image: url('../imgs/ico_sns.png');
}

.facebook {
    background-position: 0px -89px;
}

.instagram {
    margin-right: 10px;
    background-position: -190px -137px;
}

.youtube {
    margin-right: 10px;
    background-position: -89px -89px;
}

.brunch {
    margin-right: 22px;
    background-position: -217px -137px;
}
/* Footer End */